*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: "Segoe UI", Roboto. sans-serif;
	background-color: #f9f9f9;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10%;
}

li, a, button {
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

.navbar{
	background-color: #34495e;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
	padding: 1rem 2rem;
	positon: sticky;
	top: 0;
	z-index: 999;
}

.container {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.logo{
	cursor: pointer;
}

.nav-links{
	list-style: none;
}

.nav-links li{
	display: inline-block;
	padding: 0px 20px;
}

