* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #f9f9f9;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin: 0;
  border-radius: 3px;
  display: none;
  position: absolute;
  background-color: #34495e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropdown-container{

}

.navbar {
  background-color: #34495e;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  max-height: 60px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  flex-shrink: 0;
}

.logo a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: #2980b9;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.nav-links li a {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  white-space: nowrap;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3498db;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links button {
  background-color: #3498db;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition:
  background-color 0.3s ease,
  transform 0.2 ease;
  margin-left: 1rem;
  flex-shrink: 0;
}

.main-hero2 h1{
  color: #3498db;
}

.cta-button1 a {
 /* text-decoration: none;
  border: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  padding: 20px;*/
  border: red 2px solid;
}

.main-hero2 p{
  border: medium;
}